flows/GenerateAndLogFlow.json
{
  "encodingVersion": {
    "majorVersion": 2,
    "minorVersion": 0
  },
  "maxTimerDrivenThreadCount": 10,
  "maxEventDrivenThreadCount": 1,
  "registries": [],
  "parameterContexts": [],
  "controllerServices": [],
  "reportingTasks": [],
  "templates": [],
  "flowContents": {
    "identifier": "root",
    "instanceIdentifier": "018d1234-5678-1000-0000-000000000001",
    "name": "Simple NiFi Flow",
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [],
    "labels": [],
    "funnels": [],
    "controllerServices": []
  },
  "rootGroup": {
    "identifier": "root",
    "instanceIdentifier": "018d1234-5678-1000-0000-000000000001",
    "name": "Simple NiFi Flow",
    "position": {
      "x": 0,
      "y": 0
    },
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "generate-flowfile",
        "instanceIdentifier": "018d1234-5678-1000-0000-000000000010",
        "name": "GenerateFlowFile",
        "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0"
        },
        "position": {
          "x": 200,
          "y": 300
        },
        "properties": {
          "File Size": "100B",
          "Batch Size": "1",
          "Data Format": "Text",
          "Unique FlowFiles": "false",
          "Custom Text": "{\"message\": \"Hello from NiFi\", \"timestamp\": \"${now():format('yyyy-MM-dd HH:mm:ss')}\"}",
          "Character Set": "UTF-8"
        },
        "schedulingPeriod": "10 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "comments": "Generates a simple JSON message every 10 seconds",
        "componentType": "PROCESSOR"
      },
      {
        "identifier": "update-attribute",
        "instanceIdentifier": "018d1234-5678-1000-0000-000000000011",
        "name": "UpdateAttribute",
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-update-attribute-nar",
          "version": "2.6.0"
        },
        "position": {
          "x": 600,
          "y": 300
        },
        "properties": {
          "filename": "message_${UUID()}.json",
          "source": "nifi-flow",
          "processed.at": "${now():format('yyyy-MM-dd HH:mm:ss')}"
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "comments": "Adds metadata attributes to the FlowFile",
        "componentType": "PROCESSOR"
      },
      {
        "identifier": "log-attribute",
        "instanceIdentifier": "018d1234-5678-1000-0000-000000000012",
        "name": "LogAttribute",
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0"
        },
        "position": {
          "x": 1000,
          "y": 300
        },
        "properties": {
          "Log Level": "info",
          "Log Payload": "true",
          "Attributes to Log": "filename,source,processed.at",
          "Log prefix": "FlowFile: "
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success"
        ],
        "comments": "Logs the FlowFile content and attributes",
        "componentType": "PROCESSOR"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "connection-generate-to-update",
        "instanceIdentifier": "018d1234-5678-1000-0000-000000000020",
        "name": "",
        "source": {
          "id": "generate-flowfile",
          "type": "PROCESSOR",
          "groupId": "root",
          "name": "GenerateFlowFile"
        },
        "destination": {
          "id": "update-attribute",
          "type": "PROCESSOR",
          "groupId": "root",
          "name": "UpdateAttribute"
        },
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS"
      },
      {
        "identifier": "connection-update-to-log",
        "instanceIdentifier": "018d1234-5678-1000-0000-000000000021",
        "name": "",
        "source": {
          "id": "update-attribute",
          "type": "PROCESSOR",
          "groupId": "root",
          "name": "UpdateAttribute"
        },
        "destination": {
          "id": "log-attribute",
          "type": "PROCESSOR",
          "groupId": "root",
          "name": "LogAttribute"
        },
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS"
      }
    ],
    "labels": [
      {
        "identifier": "welcome-label",
        "instanceIdentifier": "018d1234-5678-1000-0000-000000000030",
        "position": {
          "x": 200,
          "y": 50
        },
        "width": 900,
        "height": 180,
        "label": "Simple NiFi Flow Example - CI/CD Demo\n\nThis flow demonstrates:\n1. GenerateFlowFile - Creates a JSON message every 10 seconds\n2. UpdateAttribute - Adds filename and metadata\n3. LogAttribute - Logs the FlowFile content and attributes\n\nQuick Start:\n- Select all processors (Shift+Click or drag to select)\n- Right-click and choose 'Start'\n- View logs: make logs-nifi\n\nCI/CD Deployment:\n- Local: make up && make import-flows-auto\n- Dev: make deploy-flows-dev\n- Staging: make deploy-flows-staging\n- Production: make deploy-flows-prod",
        "style": {
          "font-size": "14px",
          "background-color": "#e3f2fd"
        }
      },
      {
        "identifier": "step1-label",
        "instanceIdentifier": "018d1234-5678-1000-0000-000000000031",
        "position": {
          "x": 150,
          "y": 450
        },
        "width": 300,
        "height": 120,
        "label": "STEP 1: Generate Data\n\nProcessor: GenerateFlowFile\nSchedule: Every 10 seconds\nOutput: JSON with timestamp\n\nConfiguration:\n- Creates synthetic test data\n- Simulates a data source\n- Useful for testing flows",
        "style": {
          "font-size": "13px",
          "background-color": "#c8e6c9"
        }
      },
      {
        "identifier": "step2-label",
        "instanceIdentifier": "018d1234-5678-1000-0000-000000000032",
        "position": {
          "x": 550,
          "y": 450
        },
        "width": 300,
        "height": 120,
        "label": "STEP 2: Add Metadata\n\nProcessor: UpdateAttribute\nAdds tracking attributes:\n- filename (with UUID)\n- source identifier\n- processing timestamp\n\nPurpose:\n- Flow tracking\n- Audit trail",
        "style": {
          "font-size": "13px",
          "background-color": "#fff9c4"
        }
      },
      {
        "identifier": "step3-label",
        "instanceIdentifier": "018d1234-5678-1000-0000-000000000033",
        "position": {
          "x": 950,
          "y": 450
        },
        "width": 300,
        "height": 120,
        "label": "STEP 3: Log Output\n\nProcessor: LogAttribute\nLevel: INFO\nLogs: Payload + Attributes\n\nConfiguration:\n- Auto-terminates success\n- No downstream processing\n- Check: make logs-nifi",
        "style": {
          "font-size": "13px",
          "background-color": "#ffccbc"
        }
      },
      {
        "identifier": "cicd-label",
        "instanceIdentifier": "018d1234-5678-1000-0000-000000000034",
        "position": {
          "x": 200,
          "y": 600
        },
        "width": 1000,
        "height": 150,
        "label": "CI/CD Pipeline Information\n\nEnvironments: Local (Docker) | Development (Azure VM) | Staging (Azure VM) | Production (Azure VM)\n\nDeployment Commands:\n  Local Test:    make up && make import-flows-auto\n  Deploy Dev:    make tf-apply ENV=development && make deploy-flows-dev\n  Deploy Stage:  make tf-apply ENV=staging && make deploy-flows-staging\n  Deploy Prod:   make tf-apply ENV=production && make deploy-flows-prod\n\nMonitoring:\n  View Credentials:  make echo-all\n  SSH Access:        make ssh-dev | make ssh-staging | make ssh-prod\n  Check Logs:        make logs-nifi (local) or make ssh-logs-dev (remote)",
        "style": {
          "font-size": "12px",
          "background-color": "#e1bee7"
        }
      }
    ],
    "funnels": [],
    "controllerServices": [],
    "variables": {}
  }
}