flows/nifi-flows_FLOW-1_v1.json
{"bucket":{"allowBundleRedeploy":false,"allowPublicRead":false,"createdTimestamp":1764769277385,"description":"Bucket for storing NiFi flow versions","identifier":"037a91bb-d655-46bb-968e-f03a93914f3d","link":{"href":"buckets/037a91bb-d655-46bb-968e-f03a93914f3d","params":{"rel":"self"}},"name":"nifi-flows","permissions":{"canDelete":true,"canRead":true,"canWrite":true}},"externalControllerServices":{},"flow":{"bucketIdentifier":"037a91bb-d655-46bb-968e-f03a93914f3d","bucketName":"nifi-flows","createdTimestamp":1764770231802,"description":"","identifier":"660a344b-cfb1-4ca1-b7ab-053ec5e47de0","link":{"href":"buckets/037a91bb-d655-46bb-968e-f03a93914f3d/flows/660a344b-cfb1-4ca1-b7ab-053ec5e47de0","params":{"rel":"self"}},"modifiedTimestamp":1764770232876,"name":"FLOW-1","type":"Flow","versionCount":1},"flowContents":{"comments":"","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"Logs the FlowFile content and attributes","groupId":"6c356698-68a7-343d-80c1-7901e8af2cf6","id":"701a2316-f881-3784-a25f-2edbfa0c22bd","instanceIdentifier":"e47e5d07-019a-1000-08c8-1bea3dfcf200","name":"LogAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"6c356698-68a7-343d-80c1-7901e8af2cf6","identifier":"b05d82e7-b9b1-3275-b49a-2617adb6c10d","instanceIdentifier":"e47e6a93-019a-1000-d0f1-e6917b752e60","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"Adds metadata attributes to the FlowFile","groupId":"6c356698-68a7-343d-80c1-7901e8af2cf6","id":"9cf14e1a-2556-3d8c-a401-b0cc9224d143","instanceIdentifier":"e47e59ea-019a-1000-4bb0-940f970643c7","name":"UpdateAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"Adds metadata attributes to the FlowFile","groupId":"6c356698-68a7-343d-80c1-7901e8af2cf6","id":"9cf14e1a-2556-3d8c-a401-b0cc9224d143","instanceIdentifier":"e47e59ea-019a-1000-4bb0-940f970643c7","name":"UpdateAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"6c356698-68a7-343d-80c1-7901e8af2cf6","identifier":"0b86531e-50fc-3fe4-bd8d-3d772c98158a","instanceIdentifier":"e47e67ac-019a-1000-e4c3-c056db0f7901","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"Generates a simple JSON message every 10 seconds","groupId":"6c356698-68a7-343d-80c1-7901e8af2cf6","id":"1d4d6c94-03ef-31af-967c-cce50f5397ea","instanceIdentifier":"e47e564c-019a-1000-7557-608b6b23dfdf","name":"GenerateFlowFile","type":"PROCESSOR"},"zIndex":0}],"controllerServices":[],"defaultBackPressureDataSizeThreshold":"1 GB","defaultBackPressureObjectThreshold":10000,"defaultFlowFileExpiration":"0 sec","executionEngine":"INHERITED","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[],"identifier":"6c356698-68a7-343d-80c1-7901e8af2cf6","inputPorts":[],"instanceIdentifier":"e47e52db-019a-1000-80ba-1d3da8fb13b4","labels":[{"componentType":"LABEL","groupIdentifier":"6c356698-68a7-343d-80c1-7901e8af2cf6","height":120.0,"identifier":"76f60f41-df59-3d2b-9f9a-cb395d3ef77e","instanceIdentifier":"e47e75d1-019a-1000-ba12-177807791bcb","label":"STEP 3: Log Output\n\nProcessor: LogAttribute\nLevel: INFO\nLogs: Payload + Attributes\n\nConfiguration:\n- Auto-terminates success\n- No downstream processing\n- Check: make logs-nifi","position":{"x":950.0,"y":450.0},"style":{"font-size":"13px","background-color":"#ffccbc"},"width":300.0,"zIndex":0},{"componentType":"LABEL","groupIdentifier":"6c356698-68a7-343d-80c1-7901e8af2cf6","height":150.0,"identifier":"14f64974-276f-3bb3-a917-1e05ba7f776f","instanceIdentifier":"e47e7887-019a-1000-a0e5-3d89f0f2006e","label":"CI/CD Pipeline Information\n\nEnvironments: Local (Docker) | Development (Azure VM) | Staging (Azure VM) | Production (Azure VM)\n\nDeployment Commands:\n  Local Test:    make up && make import-flows-auto\n  Deploy Dev:    make tf-apply ENV=development && make deploy-flows-dev\n  Deploy Stage:  make tf-apply ENV=staging && make deploy-flows-staging\n  Deploy Prod:   make tf-apply ENV=production && make deploy-flows-prod\n\nMonitoring:\n  View Credentials:  make echo-all\n  SSH Access:        make ssh-dev | make ssh-staging | make ssh-prod\n  Check Logs:        make logs-nifi (local) or make ssh-logs-dev (remote)","position":{"x":200.0,"y":600.0},"style":{"font-size":"12px","background-color":"#e1bee7"},"width":1000.0,"zIndex":0},{"componentType":"LABEL","groupIdentifier":"6c356698-68a7-343d-80c1-7901e8af2cf6","height":180.0,"identifier":"ae3a76e6-fbb9-3343-8dd2-b30d79530b03","instanceIdentifier":"e47e6d6d-019a-1000-5703-8e9784d63578","label":"Simple NiFi Flow Example - CI/CD Demo\n\nThis flow demonstrates:\n1. GenerateFlowFile - Creates a JSON message every 10 seconds\n2. UpdateAttribute - Adds filename and metadata\n3. LogAttribute - Logs the FlowFile content and attributes\n\nQuick Start:\n- Select all processors (Shift+Click or drag to select)\n- Right-click and choose 'Start'\n- View logs: make logs-nifi\n\nCI/CD Deployment:\n- Local: make up && make import-flows-auto\n- Dev: make deploy-flows-dev\n- Staging: make deploy-flows-staging\n- Production: make deploy-flows-prod","position":{"x":256.0,"y":64.0},"style":{"font-size":"14px","background-color":"#e3f2fd"},"width":900.0,"zIndex":0},{"componentType":"LABEL","groupIdentifier":"6c356698-68a7-343d-80c1-7901e8af2cf6","height":120.0,"identifier":"022e6695-8a2b-3751-b848-cb9030b8217e","instanceIdentifier":"e47e703d-019a-1000-ad64-cfd429e7be29","label":"STEP 1: Generate Data\n\nProcessor: GenerateFlowFile\nSchedule: Every 10 seconds\nOutput: JSON with timestamp\n\nConfiguration:\n- Creates synthetic test data\n- Simulates a data source\n- Useful for testing flows","position":{"x":150.0,"y":450.0},"style":{"font-size":"13px","background-color":"#c8e6c9"},"width":300.0,"zIndex":0},{"componentType":"LABEL","groupIdentifier":"6c356698-68a7-343d-80c1-7901e8af2cf6","height":120.0,"identifier":"5535ecb4-c4a4-3d64-8380-aade97a1d48f","instanceIdentifier":"e47e730e-019a-1000-c265-94c04ea3915e","label":"STEP 2: Add Metadata\n\nProcessor: UpdateAttribute\nAdds tracking attributes:\n- filename (with UUID)\n- source identifier\n- processing timestamp\n\nPurpose:\n- Flow tracking\n- Audit trail","position":{"x":550.0,"y":450.0},"style":{"font-size":"13px","background-color":"#fff9c4"},"width":300.0,"zIndex":0}],"maxConcurrentTasks":1,"name":"flow-example","outputPorts":[],"position":{"x":-192.0,"y":-136.0},"processGroups":[],"processors":[{"autoTerminatedRelationships":["success"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"2.6.0"},"comments":"Logs the FlowFile content and attributes","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"6c356698-68a7-343d-80c1-7901e8af2cf6","identifier":"701a2316-f881-3784-a25f-2edbfa0c22bd","instanceIdentifier":"e47e5d07-019a-1000-08c8-1bea3dfcf200","maxBackoffPeriod":"10 mins","name":"LogAttribute","penaltyDuration":"30 sec","position":{"x":1000.0,"y":300.0},"properties":{"Log prefix":"FlowFile: ","character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","Attributes to Log":"filename,source,processed.at","attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"displayName":"Log prefix","dynamic":false,"identifiesControllerService":false,"name":"Log prefix","sensitive":false},"character-set":{"displayName":"Character Set","dynamic":false,"identifiesControllerService":false,"name":"character-set","sensitive":false},"Log FlowFile Properties":{"displayName":"Log FlowFile Properties","dynamic":false,"identifiesControllerService":false,"name":"Log FlowFile Properties","sensitive":false},"Log Level":{"displayName":"Log Level","dynamic":false,"identifiesControllerService":false,"name":"Log Level","sensitive":false},"attributes-to-ignore-regex":{"displayName":"Attributes to Ignore by Regular Expression","dynamic":false,"identifiesControllerService":false,"name":"attributes-to-ignore-regex","sensitive":false},"Attributes to Ignore":{"displayName":"Attributes to Ignore","dynamic":false,"identifiesControllerService":false,"name":"Attributes to Ignore","sensitive":false},"Attributes to Log":{"displayName":"Attributes to Log","dynamic":false,"identifiesControllerService":false,"name":"Attributes to Log","sensitive":false},"attributes-to-log-regex":{"displayName":"Attributes to Log by Regular Expression","dynamic":false,"identifiesControllerService":false,"name":"attributes-to-log-regex","sensitive":false},"Output Format":{"displayName":"Output Format","dynamic":false,"identifiesControllerService":false,"name":"Output Format","sensitive":false},"Log Payload":{"displayName":"Log Payload","dynamic":false,"identifiesControllerService":false,"name":"Log Payload","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":25,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"2.6.0"},"comments":"Adds metadata attributes to the FlowFile","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"6c356698-68a7-343d-80c1-7901e8af2cf6","identifier":"9cf14e1a-2556-3d8c-a401-b0cc9224d143","instanceIdentifier":"e47e59ea-019a-1000-4bb0-940f970643c7","maxBackoffPeriod":"10 mins","name":"UpdateAttribute","penaltyDuration":"30 sec","position":{"x":600.0,"y":300.0},"properties":{"filename":"message_${UUID()}.json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","source":"nifi-flow","processed.at":"${now():format('yyyy-MM-dd HH:mm:ss')}"},"propertyDescriptors":{"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","dynamic":false,"identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"filename":{"displayName":"filename","dynamic":true,"identifiesControllerService":false,"name":"filename","sensitive":false},"Store State":{"displayName":"Store State","dynamic":false,"identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","dynamic":false,"identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"source":{"displayName":"source","dynamic":true,"identifiesControllerService":false,"name":"source","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","dynamic":false,"identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false},"processed.at":{"displayName":"processed.at","dynamic":true,"identifiesControllerService":false,"name":"processed.at","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":25,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"2.6.0"},"comments":"Generates a simple JSON message every 10 seconds","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"6c356698-68a7-343d-80c1-7901e8af2cf6","identifier":"1d4d6c94-03ef-31af-967c-cce50f5397ea","instanceIdentifier":"e47e564c-019a-1000-7557-608b6b23dfdf","maxBackoffPeriod":"10 mins","name":"GenerateFlowFile","penaltyDuration":"30 sec","position":{"x":200.0,"y":300.0},"properties":{"character-set":"UTF-8","File Size":"100B","Batch Size":"1","Unique FlowFiles":"false","Custom Text":"{\"message\": \"Hello from NiFi\", \"timestamp\": \"${now():format('yyyy-MM-dd HH:mm:ss')}\"}","Character Set":"UTF-8","Data Format":"Text"},"propertyDescriptors":{"character-set":{"displayName":"Character Set","dynamic":false,"identifiesControllerService":false,"name":"character-set","sensitive":false},"File Size":{"displayName":"File Size","dynamic":false,"identifiesControllerService":false,"name":"File Size","sensitive":false},"mime-type":{"displayName":"Mime Type","dynamic":false,"identifiesControllerService":false,"name":"mime-type","sensitive":false},"generate-ff-custom-text":{"displayName":"Custom Text","dynamic":false,"identifiesControllerService":false,"name":"generate-ff-custom-text","sensitive":false},"Batch Size":{"displayName":"Batch Size","dynamic":false,"identifiesControllerService":false,"name":"Batch Size","sensitive":false},"Unique FlowFiles":{"displayName":"Unique FlowFiles","dynamic":false,"identifiesControllerService":false,"name":"Unique FlowFiles","sensitive":false},"Custom Text":{"displayName":"Custom Text","dynamic":true,"identifiesControllerService":false,"name":"Custom Text","sensitive":false},"Character Set":{"displayName":"Character Set","dynamic":true,"identifiesControllerService":false,"name":"Character Set","sensitive":false},"Data Format":{"displayName":"Data Format","dynamic":false,"identifiesControllerService":false,"name":"Data Format","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"scheduledState":"ENABLED","statelessFlowTimeout":"1 min"},"flowEncodingVersion":"1.0","parameterContexts":{},"parameterProviders":{},"snapshotMetadata":{"author":"anonymous","bucketIdentifier":"037a91bb-d655-46bb-968e-f03a93914f3d","comments":"1st Commit","flowIdentifier":"660a344b-cfb1-4ca1-b7ab-053ec5e47de0","link":{"href":"buckets/037a91bb-d655-46bb-968e-f03a93914f3d/flows/660a344b-cfb1-4ca1-b7ab-053ec5e47de0/versions/1","params":{"rel":"content"}},"timestamp":1764770232332,"version":1}}
