flows/PurchaseRoutingFlow.json
{
  "encodingVersion": {
    "majorVersion": 2,
    "minorVersion": 0
  },
  "maxTimerDrivenThreadCount": 10,
  "maxEventDrivenThreadCount": 1,
  "registries": [],
  "parameterContexts": [],
  "controllerServices": [],
  "reportingTasks": [],
  "templates": [],
  "flowContents": {
    "identifier": "root",
    "instanceIdentifier": "018d5678-9abc-1000-0000-000000000001",
    "name": "Data Enrichment Flow",
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [],
    "labels": [],
    "funnels": [],
    "controllerServices": []
  },
  "rootGroup": {
    "identifier": "root",
    "instanceIdentifier": "018d5678-9abc-1000-0000-000000000001",
    "name": "Data Enrichment Flow",
    "position": {
      "x": 0,
      "y": 0
    },
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "generate-user-events",
        "instanceIdentifier": "018d5678-9abc-1000-0000-000000000010",
        "name": "GenerateUserEvents",
        "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0"
        },
        "position": {
          "x": 200,
          "y": 400
        },
        "properties": {
          "File Size": "0B",
          "Batch Size": "1",
          "Data Format": "Text",
          "Unique FlowFiles": "true",
          "Custom Text": "Purchase event",
          "Character Set": "UTF-8"
        },
        "schedulingPeriod": "5 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "comments": "Simulates purchase events every 5 seconds",
        "componentType": "PROCESSOR"
      },
      {
        "identifier": "extract-amount",
        "instanceIdentifier": "018d5678-9abc-1000-0000-000000000011",
        "name": "ExtractAmount",
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-update-attribute-nar",
          "version": "2.6.0"
        },
        "position": {
          "x": 600,
          "y": 400
        },
        "properties": {
          "purchase.amount": "${literal(100):plus(${random():mod(400)})}"
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "comments": "Generates random purchase amount (100-500) as attribute",
        "componentType": "PROCESSOR"
      },
      {
        "identifier": "route-on-amount",
        "instanceIdentifier": "018d5678-9abc-1000-0000-000000000012",
        "name": "RouteOnAttribute",
        "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0"
        },
        "position": {
          "x": 1000,
          "y": 400
        },
        "properties": {
          "Routing Strategy": "Route to Property name",
          "high-value": "${purchase.amount:toNumber():ge(200)}",
          "medium-value": "${purchase.amount:toNumber():ge(50):and(${purchase.amount:toNumber():lt(200)})}",
          "low-value": "${purchase.amount:toNumber():lt(50)}"
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "unmatched"
        ],
        "comments": "Routes purchases by amount: high (≥200), medium (50-199), low (<50)",
        "componentType": "PROCESSOR"
      },
      {
        "identifier": "enrich-high-value",
        "instanceIdentifier": "018d5678-9abc-1000-0000-000000000013",
        "name": "EnrichHighValue",
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-update-attribute-nar",
          "version": "2.6.0"
        },
        "position": {
          "x": 1400,
          "y": 200
        },
        "properties": {
          "priority": "high",
          "customer.tier": "premium",
          "notification.required": "true",
          "processing.queue": "priority",
          "enriched.at": "${now():format('yyyy-MM-dd HH:mm:ss')}"
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "comments": "Enriches high-value purchases with premium customer data",
        "componentType": "PROCESSOR"
      },
      {
        "identifier": "enrich-medium-value",
        "instanceIdentifier": "018d5678-9abc-1000-0000-000000000014",
        "name": "EnrichMediumValue",
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-update-attribute-nar",
          "version": "2.6.0"
        },
        "position": {
          "x": 1400,
          "y": 400
        },
        "properties": {
          "priority": "medium",
          "customer.tier": "standard",
          "notification.required": "false",
          "processing.queue": "standard",
          "enriched.at": "${now():format('yyyy-MM-dd HH:mm:ss')}"
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "comments": "Enriches medium-value purchases with standard customer data",
        "componentType": "PROCESSOR"
      },
      {
        "identifier": "enrich-low-value",
        "instanceIdentifier": "018d5678-9abc-1000-0000-000000000015",
        "name": "EnrichLowValue",
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-update-attribute-nar",
          "version": "2.6.0"
        },
        "position": {
          "x": 1400,
          "y": 600
        },
        "properties": {
          "priority": "low",
          "customer.tier": "basic",
          "notification.required": "false",
          "processing.queue": "batch",
          "enriched.at": "${now():format('yyyy-MM-dd HH:mm:ss')}"
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "comments": "Enriches low-value purchases for batch processing",
        "componentType": "PROCESSOR"
      },
      {
        "identifier": "log-high-value",
        "instanceIdentifier": "018d5678-9abc-1000-0000-000000000017",
        "name": "LogHighValue",
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0"
        },
        "position": {
          "x": 1800,
          "y": 200
        },
        "properties": {
          "Log Level": "info",
          "Log Payload": "true",
          "Attributes to Log": "purchase.amount,priority,customer.tier,notification.required,processing.queue",
          "Log prefix": "HIGH-VALUE: "
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success"
        ],
        "comments": "Logs high-value purchases with premium customer data",
        "componentType": "PROCESSOR"
      },
      {
        "identifier": "log-medium-value",
        "instanceIdentifier": "018d5678-9abc-1000-0000-000000000018",
        "name": "LogMediumValue",
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0"
        },
        "position": {
          "x": 1800,
          "y": 400
        },
        "properties": {
          "Log Level": "info",
          "Log Payload": "true",
          "Attributes to Log": "purchase.amount,priority,customer.tier,notification.required,processing.queue",
          "Log prefix": "MEDIUM-VALUE: "
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success"
        ],
        "comments": "Logs medium-value purchases with standard customer data",
        "componentType": "PROCESSOR"
      },
      {
        "identifier": "log-low-value",
        "instanceIdentifier": "018d5678-9abc-1000-0000-000000000019",
        "name": "LogLowValue",
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0"
        },
        "position": {
          "x": 1800,
          "y": 600
        },
        "properties": {
          "Log Level": "info",
          "Log Payload": "true",
          "Attributes to Log": "purchase.amount,priority,customer.tier,notification.required,processing.queue",
          "Log prefix": "LOW-VALUE: "
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success"
        ],
        "comments": "Logs low-value purchases for batch processing",
        "componentType": "PROCESSOR"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "conn-generate-to-evaluate",
        "instanceIdentifier": "018d5678-9abc-1000-0000-000000000020",
        "name": "",
        "source": {
          "id": "generate-user-events",
          "type": "PROCESSOR",
          "groupId": "root",
          "name": "GenerateUserEvents"
        },
        "destination": {
          "id": "extract-amount",
          "type": "PROCESSOR",
          "groupId": "root",
          "name": "ExtractAmount"
        },
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS"
      },
      {
        "identifier": "conn-extract-to-route",
        "instanceIdentifier": "018d5678-9abc-1000-0000-000000000021",
        "name": "",
        "source": {
          "id": "extract-amount",
          "type": "PROCESSOR",
          "groupId": "root",
          "name": "ExtractAmount"
        },
        "destination": {
          "id": "route-on-amount",
          "type": "PROCESSOR",
          "groupId": "root",
          "name": "RouteOnAttribute"
        },
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS"
      },
      {
        "identifier": "conn-route-to-high",
        "instanceIdentifier": "018d5678-9abc-1000-0000-000000000022",
        "name": "",
        "source": {
          "id": "route-on-amount",
          "type": "PROCESSOR",
          "groupId": "root",
          "name": "RouteOnAttribute"
        },
        "destination": {
          "id": "enrich-high-value",
          "type": "PROCESSOR",
          "groupId": "root",
          "name": "EnrichHighValue"
        },
        "selectedRelationships": [
          "high-value"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS"
      },
      {
        "identifier": "conn-route-to-medium",
        "instanceIdentifier": "018d5678-9abc-1000-0000-000000000023",
        "name": "",
        "source": {
          "id": "route-on-amount",
          "type": "PROCESSOR",
          "groupId": "root",
          "name": "RouteOnAttribute"
        },
        "destination": {
          "id": "enrich-medium-value",
          "type": "PROCESSOR",
          "groupId": "root",
          "name": "EnrichMediumValue"
        },
        "selectedRelationships": [
          "medium-value"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS"
      },
      {
        "identifier": "conn-route-to-low",
        "instanceIdentifier": "018d5678-9abc-1000-0000-000000000024",
        "name": "",
        "source": {
          "id": "route-on-amount",
          "type": "PROCESSOR",
          "groupId": "root",
          "name": "RouteOnAttribute"
        },
        "destination": {
          "id": "enrich-low-value",
          "type": "PROCESSOR",
          "groupId": "root",
          "name": "EnrichLowValue"
        },
        "selectedRelationships": [
          "low-value"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS"
      },
      {
        "identifier": "conn-high-to-log",
        "instanceIdentifier": "018d5678-9abc-1000-0000-000000000025",
        "name": "",
        "source": {
          "id": "enrich-high-value",
          "type": "PROCESSOR",
          "groupId": "root",
          "name": "EnrichHighValue"
        },
        "destination": {
          "id": "log-high-value",
          "type": "PROCESSOR",
          "groupId": "root",
          "name": "LogHighValue"
        },
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS"
      },
      {
        "identifier": "conn-medium-to-log",
        "instanceIdentifier": "018d5678-9abc-1000-0000-000000000026",
        "name": "",
        "source": {
          "id": "enrich-medium-value",
          "type": "PROCESSOR",
          "groupId": "root",
          "name": "EnrichMediumValue"
        },
        "destination": {
          "id": "log-medium-value",
          "type": "PROCESSOR",
          "groupId": "root",
          "name": "LogMediumValue"
        },
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS"
      },
      {
        "identifier": "conn-low-to-log",
        "instanceIdentifier": "018d5678-9abc-1000-0000-000000000027",
        "name": "",
        "source": {
          "id": "enrich-low-value",
          "type": "PROCESSOR",
          "groupId": "root",
          "name": "EnrichLowValue"
        },
        "destination": {
          "id": "log-low-value",
          "type": "PROCESSOR",
          "groupId": "root",
          "name": "LogLowValue"
        },
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS"
      }
    ],
    "labels": [
      {
        "identifier": "header-label",
        "instanceIdentifier": "018d5678-9abc-1000-0000-000000000030",
        "position": {
          "x": 150,
          "y": 50
        },
        "width": 1850,
        "height": 150,
        "label": "Data Enrichment and Routing Flow - Purchase Processing Pipeline\n\nThis flow demonstrates content-based routing with data enrichment. Generates purchase events, routes by amount into three tiers (HIGH/MEDIUM/LOW), enriches each with tier-specific metadata, and logs separately.\n\nPurchase Tiers: HIGH (≥$200) | MEDIUM ($50-199) | LOW (<$50)\n\nQuick Start: Select all processors → Right-click → Start | Monitor: make logs-nifi",
        "style": {
          "font-size": "14px",
          "background-color": "#e3f2fd"
        }
      },
      {
        "identifier": "pattern-label",
        "instanceIdentifier": "018d5678-9abc-1000-0000-000000000038",
        "position": {
          "x": 150,
          "y": 750
        },
        "width": 1850,
        "height": 120,
        "label": "DESIGN PATTERN: Content-Based Router with Data Enrichment\n\nReal-World Use Cases: E-commerce order routing | Financial transaction approvals | IoT sensor data by severity | Customer service ticket prioritization | Healthcare patient triage\n\nBenefits: Automated classification | Optimized resource allocation | SLA compliance | Improved customer experience | Scalable processing",
        "style": {
          "font-size": "12px",
          "background-color": "#f3e5f5"
        }
      }
    ],
    "funnels": [],
    "controllerServices": [],
    "variables": {}
  }
}